@model IEnumerable<ArticleDTO>

@{
    ViewData["Title"] = "Index";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-black">Articles</h1>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-action="Create" class="btn btn-outline-primary"><i class="bi bi-plus-square"></i>Create article</a>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Publish date</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var i in Model)
                {
                    <tr>
                        <td>@i.Title</td>
                        <td>@i.Content</td>
                        <td>@i.PublishedDate.ToString("dd-MM-yyyy")</td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@i.Id" class="btn btn-danger">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                        <td>
                            <a asp-action="Update" asp-route-id="@i.Id" class="btn btn-success">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
